.corpo-modal {
  display: flex;
  align-items: center;
  padding-top: 32px;
}

.corpo-modal form {
  width: 500px;
  max-width: 100%;
}

.corpo-modal footer {
  margin-top: 40px;
  text-align: center;
}
